<h2>New Task List</h2>

<form class="" action="/lists" method ="post">
<input type="text" name="title" placeholder="Title" value =""><br><br>
<input type="text" name="description" placeholder="Description" value ="" style="height:40px; width:200px"><br></br>
<input type="date" name="due date" id ="Due Date" value ="Due Date"><br><br>
<input type ="submit" name="" value="Create Task">
</form>