<h2>New Task List</h2>

<form class="" action="/lists" method ="post">

<input type="text" name="title" placeholder="Title" value =""><br><br>
<input type ="submit" name="" value="Create New List">
</form>